apiVersion: serving.knative.dev/v1
kind: Service
metadata:
  name: ${SERVICE_NAME}
  annotations:
    run.googleapis.com/ingress: all
spec:
  template:
    metadata:
      annotations:
        autoscaling.knative.dev/minScale: '0'
        autoscaling.knative.dev/maxScale: '3'
        run.googleapis.com/cpu: '1'
        run.googleapis.com/memory: 512Mi
    spec:
      containerConcurrency: 80
      timeoutSeconds: 300
      containers:
      - image: ${IMAGE}
        ports:
        - name: http1
          containerPort: 8000
        env:
        - name: WORKSPACE_ROOT
          value: /app
      serviceAccountName: ${SERVICE_ACCOUNT}
